.main {
    display: flex;
    justify-content: space-around;
    height: 40em;
}

.input {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.left {
    margin-top: 20px;
}

#name {
    height: 49px;
    width: 349px;
    border-radius: 6px;
}

html {
    background-color: bisque;
}

.ul {
    list-style: decimal;
    padding-left: 0px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divin {
    display: flex;
    flex-direction: column;
}

.divin li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
    font-size: 20px;
}

.Add {
    background-color: burlywood;
    border-radius: 12px;
    height: 33px;
    cursor: pointer;
    margin: 0px 10px;

}

.Pri {
    background-color: burlywood;
    border-radius: 12px;
    height: 33px;
    cursor: pointer;
    margin: 0px 10px;

}

.Del {
    background-color: burlywood;
    border-radius: 12px;
    height: 33px;
    cursor: pointer;
    margin: 0px 10px;

}

.btnd {
    background-color: burlywood;
    width: 121px;
    height: 30px;
    margin: 5px 0px;
    cursor: pointer;
}

.heading {
    display: flex;
    justify-content: center;
    background-color: burlywood;
    height: 65px;
    align-items: center;
}

* {
    margin: 0px;
}

.lefth1 {
    display: flex;
    justify-content: center;
}

.vi {
    border-left: 6px solid #fb8c00;
    height: 648px;
}

#ul {
    list-style-type: decimal;
}

.Delete{
    background-color: #f2d09a;
    border-radius: 5px;
    margin: 5px;
}

.Completed{
    background-color: #f2d09a;
    border-radius: 5px;
    margin: 5px;
}